/* Project Seagull Stylesheet */

body {
    /* Background */
    background-color: skyblue;

    /* Layout */
    overflow: hidden;
}

.p5Canvas {
    /* Positioning */
    z-index: -2;
}

.animation {
    /* Positioning */
    z-index: -1;
}
