/* Project Seagull Stylesheet */

body {
    /* Background */
    background-color: #c4e2FF;

    /* Layout */
    overflow: hidden;
}

#background-img {
    /* Positioning */
    z-index: -3;
}

.p5Canvas {
    /* Positioning */
    z-index: -2;
}

.animation {
    /* Positioning */
    z-index: -1;

    /* For Keyframing */
    /*opacity: 0.5;*/
}
