/* Project Seagull Stylesheet */

body {
    /* Background */
    background-color: #c4e2FF;

    /* Layout */
    overflow: hidden;

    /* Font */
    font-family: 'Secular One', 'Trebuchet MS', sans-serif;
}

#background-img {
    /* Positioning */
    z-index: -4;
}

.p5Canvas {
    /* Positioning */
    z-index: -3;
}

.animation {
    /* Positioning */
    z-index: -2;

    /* For Keyframing */
    /*opacity: 0.5;*/
}

#screen {
    /* Positioning */
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

    /* Background */
    background-color: red;
}

#title {
    /* Positioning */
    position: absolute;
    margin: 0px;
    top: 2%;
    left: 2%;

    /* Text */
    color: #ABABAB;
    font-size: 4vw;
}

#sign {
    /* Positioning */
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 5%;
    left: 50%;
    transform: rotate(-0.25rad);

    /* Background */
    background-color: gray;
}

#link-list {
    /* Positioning */
    position: absolute;
    top: 10%;
    left: 2%;
    margin: 0px;
    padding: 0px;

    /* List stuff */
    list-style-type: none;
}
