body {
  /* Background */
  background-color: #c4e2FF;
  background-image: url("https://raw.githubusercontent.com/zeropt/project-seagull/main/about/img/aboutpagebackground.png");
  overflow: hidden;
  /* Font */
  font-family: monospace;
}

img {
  max-width: 350px;
  height:auto;
  opacity: 1.0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about {
  /* Positioning */
  position: absolute;
  width: 90%;
  height: 90%;
  margin-left: 4vw;
  margin-top: 4vh;

  /* Background */
  background-color: rgba(255,255,255, 0.6);

  /* Border */
  border: 0px solid;
  border-radius: 1vw;
}

#about * {
  /* positioning */
  width: 95%;
  margin: auto;
  margin-top: 2vh;
}

.scrollable-content{
  background-color: rgba(255,255,255, 0.0);
  overflow: scroll;
  margin: 0 auto;
  width: 500px;
  height: 550px;
}

@media screen and (max-height: 300px) {
  .scrollable-content{
      height: 300px;}
}

#return-button {
  /* Positioning */
  width: 12vw;
  position: absolute;
  padding: 0px;
  margin: 0px;
  right: 1vw;
  top: 1vh;

  /* Text */
  color: dimgray;
  font-size: 1vw;
}
