body {
 background-image: url("https://raw.githubusercontent.com/zeropt/project-seagull/main/about/img/aboutpagebackground.png");
 background-color: #cccccc;
}

#about {
  font-family: monospace;
  background-color: white;
  opacity: 0.6;
}
